<div class="space-y-1">
    <label [for]="inputId" class="text-sm text-gray-700 font-medium">{{ label }}</label>
    <div class="relative">

        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
            <svg class="w-4 h-4 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-width="2" 
                    d="M12 17a1 1 0 100-2 1 1 0 000 2zm6-6V9a6 6 0 10-12 0v2m12 0H6v8h12v-8z"/>
            </svg>
        </div>

        <input
            [type]="showPassword ? 'text' : 'password'"
            [id]="inputId"
            [formControl]="control"
            required
            [placeholder]="placeholder"
            class="w-full pl-10 pr-10 py-2 border border-gray-300 rounded-lg
                focus:outline-none focus:ring-2 focus:ring-[#A02142] focus:border-[#A02142]"
            [ngClass]="{
                'border-red-500 focus:border-red-500 focus:ring-red-500': control.invalid && control.touched
            }"
        />

        <button type="button" (click)="togglePasswordVisibility()" title="Alternar visibilidad"
            class="absolute right-3 top-1/2 -translate-y-1/2 text-gray-400 hover:text-[#A02142]">
            <svg *ngIf="!showPassword" class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
        d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" opacity="0.4"></path> 
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
        d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"></path>

    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" 
        d="M6 6l12 12"></path>
</svg>
            <svg *ngIf="showPassword" class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-width="2" 
                    d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                <path stroke-linecap="round" stroke-width="2" 
                    d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"></path>
            </svg>
        </button>
    </div>

    <div *ngIf="control.invalid && control.touched" class="text-xs text-red-600 mt-1">
        <span *ngIf="validationErrors?.['required']">La <b>Contraseña</b> es requerida.</span>
        <span *ngIf="validationErrors?.['minlength']">Debe tener al menos 8 caracteres.</span>
        <span *ngIf="validationErrors?.['maxlength']">No debe exceder los 50 caracteres.</span>
        <span *ngIf="validationErrors?.['pattern']">Contraseña no válida. Evite el uso de caracteres especiales peligrosos como `<`, `>`, `;`, etc.</span>
    </div>
</div>