<div class="select-none">

  <!-- Carpeta -->
  <div
    *ngIf="node.children"
    class="flex items-center gap-2 py-1 pl-1 cursor-pointer hover:bg-gray-100 rounded transition"
    (click)="toggle()">

    <img
      [src]="expanded ? 'assets/icons/folder-open.svg' : 'assets/icons/folder.svg'"
      class="w-5 h-5 flex-shrink-0"
    />

    <span class="text-gray-800 truncate">{{ node.name }}</span>
  </div>

  <!-- Hijos -->
  <div *ngIf="expanded" class="mt-1 ml-5 pl-3 border-l border-grayBorder">

    <ng-container *ngFor="let child of node.children">

      <!-- Documento -->
      <div
        *ngIf="child.type === 'documento'"
        class="flex items-center gap-2 py-1 pl-1 cursor-pointer hover:bg-brand-primary/10 rounded transition"
        (click)="selectDocument(child)">

        <img src="assets/icons/file.svg" class="w-4 h-4 opacity-70 flex-shrink-0" />
        <span class="text-gray-700 truncate">{{ child.name }}</span>
      </div>

      <!-- Subcarpeta -->
      <app-node *ngIf="child.type !== 'documento'" [node]="child"></app-node>

    </ng-container>

  </div>

</div>
