<nav class="flex" aria-label="Breadcrumb">
  <ol class="inline-flex items-center space-x-1 md:space-x-2">
    <li *ngFor="let breadcrumb of breadcrumbs; let i = index" class="inline-flex items-center">
      <div class="flex items-center">
        <!-- Separador (excepto para el primer elemento) -->
        <svg *ngIf="i > 0" 
             class="w-3 h-3 text-gray-400 mx-1" 
             aria-hidden="true" 
             xmlns="http://www.w3.org/2000/svg" 
             fill="none" 
             viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
        </svg>
        
        <!-- Contenido del breadcrumb -->
        <ng-container *ngIf="i === 0">
          
          <a (click)="navigateTo(breadcrumb.url)" 
             class="inline-flex items-center text-sm font-medium text-blue-500  dark:text-gray-400 hover:text-blue-600 cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" 
                 fill="none" 
                 viewBox="0 0 24 24" 
                 stroke-width="1.5" 
                 stroke="currentColor" 
                 class="w-4 h-4 me-2">
              <path stroke-linecap="round" stroke-linejoin="round" 
                    d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
            </svg>
            {{ breadcrumb.label }}
          </a>
        </ng-container>
        
        <ng-container *ngIf="i > 0">
          <a *ngIf="!isLast(i)" 
             (click)="navigateTo(breadcrumb.url)"
             class="ml-1 text-sm font-medium   hover:text-blue-600 md:ml-2 cursor-pointer">
            {{ breadcrumb.label }}
          </a>
          <span *ngIf="isLast(i)" class="ml-1 text-sm font-medium  text-gray-500 md:ml-2">
            {{ breadcrumb.label }}
          </span>
        </ng-container>
      </div>
    </li>
  </ol>
</nav>