::ng-deep .textLayer {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  opacity: 1; 
  line-height: 1;
}

::ng-deep .textLayer > span {
  color: transparent;
  position: absolute;
  white-space: pre;
  cursor: text;
  transform-origin: 0% 0%;
}

::ng-deep .textLayer ::selection {
  background: rgba(0,0,255, 0.3);
  color: transparent;
}
